.header {
    .nav-pills {
        .nav-item {
            .nav-link {
                color: #000;
            }
        }
    }
}

.card-text {
    .card-img-overlay {
        position: relative;

        .shop-now-button {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
}

.LocateNow,
.Shelter,
.Contact {
    display: none;

    &.active1 {
        display: block;
    }
}

.LocateNow.active1 {
    min-height: 80vh;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;

}

.Contact {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    background-color: #fff;
    border-radius: 8px;

    h5 {
        font-weight: bold;
        margin-bottom: 20px;
    }

    form .form-group label {
        font-weight: 500;
    }
}


.Shelter {
    .imageSection {
        /* position: relative; */

        /* .image1 {
            background-color: rgba(65, 219, 93, 0.679);
            position: absolute;
            top: 45%;
            width: 40%;
            height: 40%; 
        padding: 3%;
        z-index: 1;
        left: 66%;
    }*/
        /* .image2 { */
        /* float: left; */

        img {
            min-width: 100%;
            /* Set maximum width */
            max-height: 87vh;
            /* Set maximum height */
            width: auto;
            /* Allow the image to scale horizontally */
            height: auto;
        }

        /* } */
    }

    .uniqueSection {
        .card {
            border: 0px;

            .card-body {
                display: flex;
                flex-direction: column;
                height: 100%;
                align-items: center;
                justify-content: center;
                padding: 5%;
            }
        }
    }

    .newsletterSection {
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {

    /* Your mobile-specific styles here */
    .Shelter {
        .imageSection {
            img {
                max-width: 100%;
            }
        }
    }

}

/* Further adjustments for smaller screens if needed */
@media (max-width: 768px) {
    .Contact {
        padding: 15px;
        margin: 10px;
    }
}
